<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841825060895-bdbe882kbnbfiaok9u49u558v5dirkv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841825060895-bdbe882kbnbfiaok9u49u558v5dirkv1</string>
	<key>API_KEY</key>
	<string>AIzaSyBByCG0yzI0O5NqXqaT1alHKx5kSJiusi4</string>
	<key>GCM_SENDER_ID</key>
	<string>841825060895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EvAssignment</string>
	<key>PROJECT_ID</key>
	<string>evassignment-74d13</string>
	<key>STORAGE_BUCKET</key>
	<string>evassignment-74d13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841825060895:ios:12567ba46b8cae3c096d2a</string>
</dict>
</plist>